{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/map.css') }}">
{% endblock %}
{% block body %}

    <div id="container">
        <h1>Map</h1>

        {% for y in 0..1 %}
            <div class="row map">
                {% for x in 0..2 %}
                    <div class="tile col-sm-1 {{ map[x][y].type }}">

                        {% if boat.coordX == x and boat.coordY == y %}
                            <img src="{{ asset('assets/images/boat.png') }}" alt="boat"/>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

    </div>
{% endblock %}